<!DOCTYPE html>
<html width="{{ screen_width }}" height="{{ screen_height }}" >
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='socket.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='calibrate_style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">

<body width="{{ screen_width }}" height="{{ screen_height }}" >
  <canvas id="myCanvas" width="{{ screen_width }}" height="{{ screen_height }}"></canvas>
  <span id="callouts">
  </span>
<!--   <div id="item">
  	<h1>Doritos Nacho Cheese</h1>
  	<img src="{{url_for('static', filename='images/doritos.jpg')}}"></img>
  	<h3>Product Category: Chips</h3>
	<h3>Price: $1.00</h3>
	<h3>Store: La Verdes</h3>
	<div id="nutritionalButton">
		<h2>Nutritional Info</h2>
	</div>
  </div> -->
</body>

<script type="text/javascript" src="{{url_for('static', filename='vision_updater.js')}}"></script>

</html>
