<!DOCTYPE html>
<html width="{{ screen_width }}" height="{{ screen_height }}" >
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type=text/javascript src="{{ url_for('static', filename='socket.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='calibrate_style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">


<body width="{{ screen_width }}" height="{{ screen_height }}" >
  <canvas id="myCanvas" width="{{ screen_width }}" height="{{ screen_height }}"></canvas>
  <span id="callouts">
  </span>
</body>

<script type="text/javascript" src="{{url_for('static', filename='vision_updater.js')}}"></script>

</html>
